<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Board</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
</head>
<body>
	<header th:flagment="header">
		<div class="header_wrap">
			<a th:href="@{/}" style="font-size: 25px;">☆BOARD☆</a>
		</div>
		<div class="header_wrap" style="margin-top: 20px;">
<!-- 			비로그인 상태 메뉴 -->
			<th:block th:if="${session.loginMember == null}">
				<a th:href="@{/member/signup}">회원가입</a>
				<a th:href="@{/member/login}">로그인</a>
			</th:block>
<!-- 			로그인 상태 메뉴 -->
			<th:block th:if="${session.loginMember != null}">
				<a th:href="@{/member/logout}">로그아웃</a>
				<a th:href="@{/member/memberInfo(id=${session.loginMember.id})}">마이페이지</a>
			</th:block>
			<a th:href="@{/board/alllist}">게시판</a>
		</div>
	</header>
	
	<nav th:flagment="nav">
		<!-- <div class="nav_wrap">
		</div> -->
	</nav>
	
	<footer th:flagment="footer">
		<div class="footer_wrap">
			Copyright + @halloween
		</div>
	</footer>
</body>
</html>