<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="questBoard.mapper.QuestBoardMapper">
	<!-- public void insertQuestBoard(QuestBoardDTO qdto); -->
	<insert id="insertQuestBoard" parameterType="qDTO">
		INSERT INTO questBoard(writer, email, subject, password, ref, re_step, content) 
		VALUES (#{writer}, #{email}, #{subject}, #{password}, 
		(SELECT IFNULL(MAX(r.ref) + 1, 1) FROM questBoard r), 1, 1, #{content})
	</insert>
	
	<!-- public List<QuestBoardDTO> getAllQuestBoard(); -->
	<select id="getAllQuestBoard" resultType="qDTO">
		SELECT * FROM questBoard ORDER BY ref DESC, re_step ASC
	</select>
	
	<!-- public QuestBoardDTO getOneQuestBoard(int num); -->
	<select id="getOneQuestBoard" parameterType="int">
		SELECT * FROM questBoard WHERE num=#{num}
	</select>
	
	<!-- public void reWriterInsert(QuestBoardDTO qdto); -->
	<insert id="reWriterInsert" parameterType="qDTO">
		INSERT INTO questBoard(writer, email, subject, password, ref, re_step, content) 
		VALUES (#{writer}, #{email}, #{subject}, #{password}, #{ref}, 2, #{content})
	</insert>
</mapper>