@charset "UTF-8";

section h2{
text-align: center;
}

section table{
border-collapse: collapse;
}

/* section input[type="submit"],
section input[type="reset"]{
width: 100px;
height: 30px;
cursor: pointer;
} */

#section_wrap form table{
margin:0 auto;
}

#section_wrap form table .content{
width: 300px;
height: 30px;
}