<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>주소 등록</h2>
	<form th:action="@{/add-address}" method="POST">
		<input type="text" name="name" placeholder="이름" />
		<input type="text" name="city" placeholder="도시" />
		<button type="submit">추가하기</button>
	</form>
	
	<hr/>

	<h2>주소록 목록</h2>
	<table>
		<thead>
			<th>이름</th>
			<th>도시</th>
		</thead>
		<tbody>
			<tr th:each="l : ${list}">
				<td th:text="${l.name}"></td>
				<td th:text="${l.city}"></td>
			</tr>
			<tr th:if="${#lists.isEmpty(list)}">
			<!-- ┖> list 가 비어있냐는 뜻!! -->
				<td colspan="2">등록된 주소가 없습니다.</td>
			</tr>
		</tbody>
	</table>
</body>
</html>