<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>도서 정보 입력</title>
</head>
<body>
	<h3>도서 정보 입력</h3>
	<form th:Action="@{/book/rental}" method="GET">
		<input type="text" name="bookName" placeholder="도서명" />
		<input type="text" name="writer" placeholder="저자" />
		<input type="text" name="isbn" placeholder="ISBN" />
		<input type="text" name="rentUser" placeholder="대여자명" />
		<button type="submit" value="rental_page">대여하기</button>
	</form>
</body>
</html>