<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.board.mapper.BoardMapper">
	<!-- public void insertBoard(BoardDTO bdto); -->
	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO board(writer, subject, writerPw, content, id) 
		VALUES(#{writer}, #{subject}, #{writerPw}, #{content}, #{id})
	</insert>
	
	<!-- public List<BoardDTO> getAllBoard(); -->
	<select id="getAllBoard" resultType="BoardDTO">
		SELECT * FROM board ORDER BY num DESC
	</select>
	
	<!-- BoardBAO 의 getOneBoard 를 두개로 나눔! -->
	<!-- 게시판 상세 페이지 -->
	<!-- public BoardDTO getOneBoard(int num); -->
	<select id="getOneBoard" parameterType="int" resultType="BoardDTO">
		SELECT * FROM board WHERE num=#{num}
	</select>
	
	<!-- 조회수 +1 증가  -->
	<!-- public BoardDTO updateBoardCount(int num); -->
	<update id="updateBoardCount" parameterType="int">
		UPDATE board SET readcount = readcount + 1 WHERE num=#{num}
	</update>
	
	<!-- public int updateBoard(BoardDTO bdto); -->
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE board SET subject=#{subject}, content=#{content} WHERE num=#{num} AND writerPw=#{writerPw}
	</update>
	
	<!-- public int deleteBoard(int num, String writerPw); -->
	<delete id="deleteBoard">
	<!-- BoardMapper 에서 @Param 을 사용해서 매개변수 값을 받은경우 parameterType 을 생략한다 -->
		DELETE FROM board WHERE num=#{num} AND writerPw=#{writerPw}
	</delete>
	
	<!-- public List<BoardDTO> getShearchBoard(String searchKeyWord, String searchType) -->
	<select id="getShearchBoard" resultType="BoardDTO">
		SELECT * FROM board 
		<where>
			<choose>
			<!-- <when test="조건식 예) a == b"></when> : if 와 같은 역할 -->
			<!-- 조건이 많으면 when 여러번 otherwise 를 사용하면 됨! if - else if - else 와 비슷한 논리인듯!! -->
				<when test="searchType == 'subject'">
					subject LIKE CONCAT('%', #{searchKeyWord}, '%') 
				</when>
				<otherwise>
					content LIKE CONCAT('%', #{searchKeyWord}, '%') 
				</otherwise>
			</choose>
		</where>
		ORDER BY num DESC
	</select>
	
	<!-- ================= 2026-02-03 ================= -->
	
	<!-- public int getAllCount(); -->
	<select id="getAllCount" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
	
	<!-- public List<BoardDTO> getPageList(@Param("startRow") int startRow, @Param("pageSize") int pageSize); -->
	<select id="getPageList" resultType="BoardDTO">
		SELECT * FROM board ORDER BY num DESC LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- ================= 2026-02-04 ================= -->
	
	<!-- 검색 페이징 -->
	
	<!-- public int setSearchCount(@Param("searchType") String searchType, 
			@Param("searchKeyWord") String searchKeyWord); -->
	<select id="getSearchCount" resultType="int">
	   SELECT COUNT(*) FROM board
		<where>
			<choose>
				<when test="searchType == 'subject'">
					subject LIKE CONCAT('%', #{searchKeyWord}, '%')
				</when>
				<otherwise>
					content LIKE CONCAT('%', #{searchKeyWord}, '%') 
				</otherwise>
			</choose>
		</where>
	</select>
	
	<!-- public List<BoardDTO> getSearchPageList(@Param("searchType") String searchType, 
			@Param("searchKeyWord") String searchKeyWord, 
			@Param("startRow") int startRow, @Param("pageSize") int pageSize); -->
	<select id="getSearchPageList" resultType="BoardDTO">
		SELECT * FROM board
		<where>
			<choose>
				<when test="searchType == 'subject'">
					subject LIKE CONCAT('%', #{searchKeyWord}, '%')
				</when>
				<otherwise>
					content LIKE CONCAT('%', #{searchKeyWord}, '%') 
				</otherwise>
			</choose>
		</where>
		ORDER BY num DESC LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- public List<BoardDTO> getMyBoardList(@Param("loginId") String loginId, 
			@Param("startRow") int startRow, @Param("pageSize") int pageSize); -->
	<!-- user_member 의 id 와 board 의 id 가 같은 게시글 목록
		 테이블 두개 JOIN 필요 -->
	<!-- select 필드명 from 테이블명 별칭 inner join 테이블 이름 별칭 on 별칭.pk = 별칭.fk -->
	<select id="getMyBoardList" resultType="BoardDTO">
		SELECT b.num, b.subject, b.reg_date, b.readCount, m.id as writer FROM board 
		b INNER JOIN user_mamber m ON b.id = m.id 
		WHERE b.id=#{loginId} ORDER BY b.num DESC LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- public int getMyBoardCount(String loginId); -->
	<select id="getMyBoardCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM board WHERE id=#{loginId}
	</select>
</mapper>