<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.carproduct.mapper.CarProductMapper">
	<!-- 상품의 모든 정보를 검색하는 쿼리문 : select 문 -->
	<!-- public List<CarProductDTO> getAllCarProduct(); -->
	<select id="getAllCarProduct" resultType="CarDTO">
		SELECT * FROM carProduct
	</select>
</mapper>