<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 는 MemberMapper 의 패키지 경로를 복붙해야함. - 경로 + 인터페이스 이름 -->
<mapper namespace="com.green.member.mapper.MemberMapper">
	<!-- public int insertMember(MemberDTO mdto); -->
	<!-- insert, updata, delete 문은 resultType 을 사용하지 않는다 -->
	<!-- ┖> 이유 : 한 행의 결과를 int 로 반환해서 -->
	
	<insert id="insertMember" parameterType="MemberDTO">
		INSERT INTO user_mamber(id, pw, mail, phone) VALUES(#{id}, #{pw}, #{mail}, #{phone})
	</insert>
	
	<!-- public boolean isMember(String id); -->
	<!-- select 문으니 resultType 을 정의한다. -->
	<select id="isMember" parameterType="String" resultType="boolean">
		SELECT COUNT(*) FROM user_mamber WHERE id=#{id}
	</select>
	
	<!-- public List<MemberDTO> allSelectMember(); -->
	<select id="allSelectMember" resultType="MemberDTO">
		SELECT * FROM user_mamber
	</select>
	
	<!-- public MemberDTO oneSelectMember(String id); -->
	<select id="oneSelectMember" parameterType="String" resultType="MemberDTO">
		SELECT * FROM user_mamber WHERE id=#{id}
	</select>
	
	<!-- public int updateMember(MemberDTO mdto); -->
	<select id="updateMember" parameterType="MemberDTO">
		UPDATE user_mamber SET mail=#{mail}, phone=#{phone}, WHERE id=#{id}
	</select>
	
	<!-- public String getPass(String id); -->
	<select id="getPass" parameterType="String" resultType="String">
		SELECT pw FROM user_mamber WHERE id=#{id}
	</select>
	
	<!-- public int delMember(String id); -->
	<delete id="delMember" parameterType="String">
		DELETE FROM user_mamber WHERE id=#{id}
	</delete>
</mapper>