<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	
	<section>
		<div class="section_wrap">
			<h4>상세보기</h4>
			<table border="1">
				<tbody>
					<tr>
						<th>no</th>
						<td th:text="${detail.id}"></td>
					</tr>
					<tr>
						<th>제목</th>
						<td th:text="${detail.title}"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td th:text="${detail.content}"></td>
					</tr>
					<tr>
						<th>작성자</th>
						<td th:text="${detail.writer}"></td>
					</tr>
					<tr>
						<th>작성일</th>
						<td th:text="${detail.createdAt}"></td>
					</tr>
				</tbody>
			</table>
			
			<div>
				<a th:href="@{/board/modify(id=${detail.id})}" class="btn">수정하기</a>
				<a th:href="@{/board/delete(id=${detail.id})}" class="btn">삭제하기</a>
			</div>
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>