<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Board Home</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<!-- <script th:src="@{/js/board.js}"></script> -->
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	
	<section>
		<div class="section_wrap">
			<h3>게시판</h3>
			<div class="search">
				<form th:action="@{/board/alllist}" method="GET">
					<select name="searchType">
						<option value="title">제목</option>
						<option value="content">내용</option>
					</select>
					
					<input type="text" name="shearchKeyWord" placeholder="검색어를 입력하세요." />
					<input type="submit" value="검색" class="btn" />
					<input type="button" value="전체보기" class="btn" 
					th:onclick="|location.href='@{/board/alllist}|'" />
				</form>
			</div>
			<table>
				<tbody>
					<tr>
						<th>no</th>
						<th>제목</th>
						<th>내용</th>
						<th>작성자</th>
						<th>작성일</th>
					</tr>
					<tr th:each="list: ${allList}">
						<td th:text="${list.id}"></td>
						<td>
							<a th:href="@{/board/board_detail(id=${list.id})}" th:text="${list.title}"></a>
						</td>
						<td th:text="${list.content}"></td>
						<td th:text="${list.writer}"></td>
						<td th:text="${list.createdAt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>