<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	
	<section>
		<div class="section_wrap">
			<h4>게시물 수정하기</h4>
			<form th:action="@{/board/modify}" method="POST">
				<table border="1">
					<tbody>
						<tr>
							<th>no</th>
							<td>
								<input type="text" name="id" th:value="${board.id}" readonly="readonly" />
							</td>
						</tr>
						<tr>
							<th>제목</th>
							<td>
								<input type="text" name="title" th:value="${board.id}" />
							</td>
						</tr>
						<tr>
							<th>내용</th>
							<td>
								<input type="text" name="content" th:value="${board.content}" />
							</td>
						</tr>
						<tr>
							<th>작성자</th>
							<td>
								<input type="text" name="writer" th:value="${board.writer}" readonly="readonly" />
							</td>
						</tr>
						<tr>
							<th>작성일</th>
							<td>
								<input type="text" name="createdAt" th:value="${board.createdAt}"  readonly="readonly" />
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<button type="submit" class="btn">수정완료</button>
				</div>
			</form>
			
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
	
	<script th:if="${msg}">
		alert('[[${msg}]]');
	</script>
</body>
</html>