<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.board.mapper.BoardMapper">
	<!-- public int insertBoard(BoardDTO bdto); -->
	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO board_table(title, content, writer) VALUES(#{title}, #{content}, #{writer})
	</insert>
	
	<!-- public List<BoardDTO> allSelectBoard(); -->
	<select id="allSelectBoard" resultType="BoardDTO">
		SELECT * FROM board_table ORDER BY id DESC
	</select>
	
	<!-- public boolean isTitle(String title); -->
	
	<!-- public BoardDTO oneBoard(int id); -->
	<select id="oneBoard" parameterType="int" resultType="BoardDTO">
		SELECT * FROM board_table WHERE id=#{id}
	</select>
	
	<!-- public int updateBoard(BoardDTO bdto); -->
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE board_table SET title=#{title}, content=#{content} WHERE id=#{id}
	</update>
	
	<!-- public int delBoard(int id); -->
	<delete id="delBoard">
		DELETE FROM board_table WHERE id=#{id}
	</delete>
	
	<!-- public List<BoardDTO> getSearch(@Param("shearchKeyWord") String shearchKeyWord, 
			@Param("searchType") String searchType); -->
	<select id="getSearch" resultType="BoardDTO">
		SELECT * FROM board_table 
		<where>
			<choose>
				<when test="searchType == 'title'">
					title LIKE CONCAT("%", #{shearchKeyWord}, "%") 
				</when>
				<otherwise>
					content LIKE CONCAT("%", #{shearchKeyWord}, "%") 
				</otherwise>
			</choose>
		</where>
		ORDER BY id DESC
	</select>
</mapper>