<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<Link rel="stylesheet" th:href="@{/css/common.css}" />
<Link rel="stylesheet" th:href="@{/css/header_nav_footer.css}" />
<Link rel="stylesheet" th:href="@{/css/home.css}" />
<Link rel="stylesheet" th:href="@{/css/board.css}" />
<script th:src="@{/js/member.js}"></script>
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">게시글 상세보기</div>
			<div class="content">
				<table width="600" border="1">
					<tbody>
						<tr height="40">
							<td width="120" align="center">글번호</td>
							<td width="180" align="center" th:text="${oneBoard.num}"></td>
							<td width="120" align="center">조회수</td>
							<td width="180" align="center" th:text="${oneBoard.readcount}"></td>
						</tr>
						<tr height="40">
							<td width="120" align="center">작성자</td>
							<td width="180" align="center" th:text="${oneBoard.writer}"></td>
							<td width="120" align="center">작성일</td>
							<td width="180" align="center" th:text="${oneBoard.reg_date}"></td>
						</tr>
						<tr height="40">
							<td width="120" align="center">제목</td>
							<td width="180" align="center" colspan="3" th:text="${oneBoard.subject}"></td>
						</tr>
						<tr height="40">
							<td width="120" align="center">내용</td>
							<td width="180" align="center" colspan="3" th:text="${oneBoard.content}"></td>
						</tr>
						<tr height="40">
							<td align="center" colspan="4">
								<input type="button" value="수정하기" 
								th:onclick="|location.href='@{/board/update(num=${oneBoard.num})}'|" />
								
								<!-- 삭제할 게시글의 번호, 비밀번호를 알아여 삭제가능 -->
								<!-- input 태그의 type="hidden" 이면 숨겨진 상태로 value 값을 넘길 수 있다 -->
								<form th:action="@{/board/deletePro}" method="GET">
									<input type="hidden" name="num" th:value="${oneBoard.num}" />
									<input type="hidden" name="writerPw" th:value="${oneBoard.writerPw}" />
									<input type="submit" value="삭제하기" 
									onclick="return confirm('정말로 삭제하시겠습니까?');" />
								</form>
								
								<input type="button" value="목록보기" 
								th:onclick="|location.href='@{/board/list}'|" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>