<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<Link rel="stylesheet" th:href="@{/css/common.css}" />
<Link rel="stylesheet" th:href="@{/css/header_nav_footer.css}" />
<Link rel="stylesheet" th:href="@{/css/home.css}" />
<Link rel="stylesheet" th:href="@{/css/board.css}" />
<script th:src="@{/js/member.js}"></script>
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">게시판 작성</div>
			<div class="content">
				<!-- form 태그를 이용해 회원가입 양식 작성 -->
				<form th:action="@{/board/writePro}" name="board_form" method="POST">
					<table width="600" border="1">
						<tbody>
							<tr height="40">
								<td width="150" align="center">작성자</td>
								<td width="450" align="center">
									<input type="text" name="writer" />
								</td>
							</tr>
							<tr height="40">
								<td width="150" align="center">제목</td>
								<td width="450" align="center">
									<input type="text" name="subject" class="b_subject" />
								</td>
							</tr>
							<tr height="40">
								<td width="150" align="center">비밀번호</td>
								<td width="450" align="center">
									<input type="text" name="writerPw" required="required" placeholder="비밀번호 입력" />
								</td>
							</tr>
							<tr height="40">
								<td width="150" align="center">글내용</td>
								<td width="450" align="center">
									<textarea rows="10" cols="55" name="content" class="b_contents"></textarea>
								</td>
							</tr>
							<tr height="40">
								<td colspan="2" align="center">
									<input type="submit" value="글쓰기" /> &nbsp;
									<input type="reset" value="다시 작성하기" />&nbsp;
									<input type="button" 
									th:onclick="|location.href='@{/board/list}'|" value="목록보기" />
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>