<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<Link rel="stylesheet" th:href="@{/css/common.css}" />
<Link rel="stylesheet" th:href="@{/css/header_nav_footer.css}" />
<Link rel="stylesheet" th:href="@{/css/home.css}" />
<Link rel="stylesheet" th:href="@{/css/board.css}" />
<script th:src="@{/js/member.js}"></script>
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">게시글 목록</div>
			<div class="content">
				<table width="700" border="1">
					<tbody>
						<tr height="40">
							<td colspan="5" align="right">
								<a th:href="@{/board/write}" class="write-btn">글쓰기</a>
							</td>
						</tr>
						<tr height="40">
							<td width="50" align="center">번호</td>
							<td width="320" align="center">제목</td>
							<td width="100" align="center">작성자</td>
							<td width="150" align="center">작성일자</td>
							<td width="80" align="center">조회수</td>
						</tr>
						<tr th:each="list:${list}">
							<td th:text="${list.num}"></td>
							<td>
								<a th:href="@{/board/boardInfo(num=${list.num})}" 
								th:text="${list.subject}"></a>
							</td>
							<td th:text="${list.writer}"></td>
							<td th:text="${list.reg_date}"></td>
							<td th:text="${list.readcount}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="search_wrap">
				<form th:action="@{/board/list}" method="GET">
					<select name="searchType">
						<option value="subject">제목</option>
						<option value="content">내용</option>
					</select>
					
					<input type="text" name="searchWord" placeholder="검색어를 입력하세요." />
					
					<input type="submit" value="검색" class="searchBtn" />
					<input type="button" value="전체보기" class="searchBtn" 
					th:onClick="|location.href='@{/board/list}'|" />
				</form>
			</div>
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>