<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Member Join</title>
<Link rel="stylesheet" th:href="@{/css/common.css}" />
<Link rel="stylesheet" th:href="@{/css/header_nav_footer.css}" />
<Link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
<!-- 바뀌지 않는 공통 구역만 작성 -->
	<header th:flagment="header">
		<div id="top">
			<h3>Member Join</h3>
		</div>
		<div id="header_wrap">
			<a th:href="@{/}">HOME</a>
			<a th:href="@{/member/signup}">회원가입</a>
			<a th:href="@{/member/signin}">로그인</a>
			<a th:href="@{/board/write}">게시판</a>
		</div>
	</header>
	
	<nav th:flagment="nav">
		<div id="nav_wrap">
			<a th:href="@{/example}">EXAMPLE</a>
		</div>
	</nav>
	
	<footer th:flagment="footer">
		<div id="footer_wrap">
			Copyright office @green
		</div>
	</footer>
</body>
</html>